{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <section class="top-post-area pt-10">
        <div class="container no-padding">
            <div class="row small-gutters">
                {% include 'home/_top_3_posts.html.twig' with {posts: posts} %}

                {% include 'home/_breaking_news.html.twig' %}
            </div>
        </div>
    </section>

{% endblock %}
