<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hi! Please confirm your email!</h1>

    <p>
        Please confirm your email address by clicking the following link: <br><br>
        <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
        This link will expire in {{ expiresAt|date('g') }} hour(s).
    </p>

    <p>
        Cheers!
    </p>
</body>
</html>

