<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset password email</title>
</head>
<body>
    <h1>Hi!</h1>

    <p>To reset your password, please visit the following link</p>

    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">
        Reset password link.
{#        {{ url('app_reset_password', {token: resetToken.token}) }}#}
    </a>

    <p>This link will expire in {{ tokenLifetime | date('g') }} hour(s).</p>

    <p>Cheers!</p>
</body>
</html>

