{% extends 'base.html.twig' %}

{% block title %}Reply form error{% endblock %}

{% block body %}
    <h1>Reply error message</h1>

    {{ include('blog/comments/_replies_form.html.twig') }}
{% endblock %}

